# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
<!DOCTYPE html>  
 <html> 
 <head><title>pag title</title> 
 <base href="http://localhost/images/" target="_blank"> 
 
 
 <meta name="description" content=“imagen"> 
 </head> 
 <body> 
 
 
 <img C:\Users\ANGEL\Desktop\Proyecto1\descarga.jpg> 
 
 
 </body> 
